.app-header {
	display: grid;
	grid-auto-flow: column;
	align-items: baseline;
	color: var(--clr3);
	background-color: var(--clr-google-bg);
	box-shadow: var(--box-shadow-all);
	height: 10vh;
	padding-top: 0.5em;
	margin-bottom: 20px;
	font-family: 'roboto bold', Calibri, 'san serif';
}

.app-header :is(hr, .screen) {
	display: none;
}

.app-header nav {
	justify-self: flex-end;
	align-self: center;
}

.logo {
	padding-left: 0.2em;
	font-size: 2em;
	color: var(--clr-google-font);
	transition: 0.3s all;
	align-self: center;
}

.app-header nav a {
	margin-inline-end: 3vw;
	transition: 0.3s all;
}

.app-header nav a:hover {
	color: var(--clr-keep-hover);
}

.app-header .btn-ham {
	display: none;
}
