@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);


.home-page {
	height: 81vh;
	background: linear-gradient(
				45deg,
				rgba(255, 175, 189, 0.7),
				rgba(100, 216, 243, 0.7),
				rgba(234, 236, 198, 0.7),
				rgba(245, 146, 176, 0.7),
				rgba(52, 219, 216, 0.7)
			)
			0 0 / 1000% no-repeat,
		url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}

@-webkit-keyframes gradientAnimation {
	0% {
		background-position: 0% 30%, 0 0;
	}

	50% {
		background-position: 100% 70%, 0 0;
	}

	100% {
		background-position: 0% 30%, 0 0;
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 30%, 0 0;
	}

	50% {
		background-position: 100% 70%, 0 0;
	}

	100% {
		background-position: 0% 30%, 0 0;
	}
}

.home-page > h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: var(--clr4);
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(2.5rem, 6vw, 4rem);
	text-align: center;
	white-space: nowrap;
}

.home-page > h1 span:not(.dynamic) {
	display: block;
	margin-top: 0.5em;
	font-size: 0.5em;
	font-weight: 300;
}

.home-nav {
	height: 80vh;
}

.dynamic {
	min-width: 120px;
	text-transform: capitalize;
	font-size: 1.3em;
	transition: all 0.4s ease-in-out;
	
}

.dynamic:hover{
	background-color: rgba(99, 108, 110, 0.3);
	border-radius: var(--border-radius);
	
	/* color: var(--clr3); */
}

