.note-actions{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.4em;
}

.note-actions>*{
  background-color: transparent;
  border: none;
  color: var(--clr4);
  opacity: 0;
  margin: 5px;
  font-size: 1em;
  transition: .3s;
}

.note-preview:hover .note-actions>*{
  opacity: 1;
}

.note-actions>*:hover{
  color: var(--clr-keep-hover);
}


