.pick-color{
  display: grid;
  grid-auto-flow: column;
  max-width: 220px;
  background-color: var(--clr-keep-grey);
  padding: 5px;
  position: absolute;
  border-radius: var(--border-radius);
}

.btn-pick-color{
  width: 30px;
  height: 30px;
  margin: 2px;
  border: none;
  border-radius: var(--border-radius);
}

.btn-pick-color:hover{
  opacity: 0.8;
}

.btn-red{
  background-color: var(--clr-keep-red);
}
.btn-pink{
  background-color: var(--clr-keep-pink);
}
.btn-purple{
  background-color: var(--clr-keep-purple);
}
.btn-blue{
  background-color: var(--clr-keep-blue);
}
.btn-green{
  background-color: var(--clr-keep-green);
}
