.note-index .search-filter{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .3fr 2fr;
  margin-bottom: 15px;
}
.note-index .search-filter .magnifying-glass{
  left: 15%;
  transform: translateY(-50%);
}

.btn-new-note{
  display: grid;
  align-items: center;
  justify-items: center;
  justify-self: center;
  width: 50px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-all);
  transition: .4s all;
}

.btn-new-note:hover{
  scale: 1.1;
}