.note-actions{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}
.note-actions:last-child{
  margin-right: 10px;
}

.note-actions>*{
  background-color: transparent;
  border: none;
  color: var(--clr4);
  opacity: 0;
  margin: 5px;
  font-size: 1em;
  transition: .3s;
}

.note-preview:hover .note-actions>*{
  opacity: 1;
}

.note-actions>*:hover{
  
  
  color: var(--clr-keep-hover);
}
/* .note-actions>*:hover{
  color: var(--clr-keep-hover);
} */


