.btn-compose {
	background-color: var(--clr-gmail-button);
	padding: 15px;
	border-radius: 10px;
	border: none;
	gap: 15px;
	font-size: 0.875rem;
	margin: 10px 10px;
}

.btn-compose:hover {
	box-shadow:var(--box-shadow-all);
}

.icons-only .btn-compose span {
	display: none;
}
