.mail-index {
	position: relative;
	padding: 0 5px;
}

.mail-index {
	background-color: var(--clr-bg-color-mail);
}

.mail-index .bars {
	width: 40px;
	height: 40px;
	font-size: 1.1em;
	border: none;
	background-color: transparent;
}

.mail-index .bars:hover {
	background-color: var(--clr-gmail-hover);
}

.hamburger-logo-container {
	padding: 5px;
	gap: 10px;
}

.hamburger-logo-container img {
	width: 35px;
	height: 30px;
}

.mail-index main {
	gap: 5px;
	height: 70vh;
	width: 100%;
}
