.mail-index {
	background-color: var(--clr-bg-color-mail);
}

.mail-index .bars {
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
}

.mail-index .bars:hover {
	background-color: var(--clr-gmail-hover);
}

.hamburger-logo-container {
	padding: 5px;
	padding-inline-end: 20px;
	gap: 10px;
}

.hamburger-logo-container img {
	width: 25px;
	height: 20px;
}
