.mail-preview {
	display: grid;
	grid-template-columns:
		30px
		minmax(200px, 1fr)
		minmax(30px, 2fr)
		minmax(20vw, 2fr)
		minmax(5vw, 0.5fr);

	padding: 5px;
	font-size: 1em;
	background-color: var(--clr-gmail-read);

	border-bottom: 0.5px solid #80808035;
	margin-left: 2px;
}

.mail-preview .filledStar {
	color: var(--clr-gmail-tag);
}

.mail-preview .btn-star:not(:hover) {
	background-color: transparent;
}

.mail-preview .btn-star {
	border: none;
	width: 30px;
	height: 30px;
}

.mail-preview:first-child {
	border-top: 0.5px solid #80808035;
}

.mail-preview:hover {
	border-radius: var(--border-radius);
	box-shadow: 0 0 3px 0 grey;
	scale: 1;
}

.mail-preview:nth-of-type(3) {
	clip: auto;
}

.mail-body {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}

.mail-preview > * {
	margin: 0;
	align-self: center;
	padding: 5px;
}

.mail-preview.unread-mail {
	background-color: var(--clr-google-bg);
}

.mail-preview.unread-mail p {
	font-family: 'roboto bold', Calibri, 'san serif';
}

.mail-preview p:last-of-type {
	font-size: 0.9em;
	justify-self: center;
	padding: 0;
}

.preview-email-options > * {
	background-color: transparent;
	border: none;
	color: var(--clr-gmail-font);
	width: 25px;
	height: 25px;
}
.preview-email-options {
	position: absolute;
	right: 1vw;
	background-color: inherit;
	display: none;
}

.mail-preview:hover .preview-email-options {
	display: block;
	justify-self: center;
}

.mail-preview:hover .email-date {
	display: none;
}
