.mail-filter .file-filter {
	font-size: 13px;
	gap: 2vw;
	padding-inline-start: 0.5em;
	border-end-end-radius: 20px;
	border-start-end-radius: 20px;
	position: relative;
	cursor: pointer;
}

.mail-filter .file-filter > *:first-of-type {
	width: 25px;
	height: 25px;
}

.filter-file-name {
	display: inline-flex;
	text-transform: capitalize;
}

.mail-filter > .file-filter:not(.active-filter):hover {
	background-color: var(--clr-gmail-hover);
}

.active-filter {
	background-color: var(--clr-active-filter);
	font-family: 'roboto bold';
	color: var(--clr-gmail-txt);
}

.icons-only .filter-file-name {
	display: none;
}

.icons-only .active-filter .filter-icon {
	border-radius: 100%;
	background-color: var(--clr-active-filter);
}

.icons-only .filter-icon:not(.active-filter *):hover {
	border-radius: 100%;
	background-color: var(--clr-gmail-hover);
}

.icons-only .mail-filter .file-filter {
	width: fit-content;
	background-color: transparent;
	margin-inline-end: 0;
}

.icons-only .mail-filter .file-filter:not(.active-filter):hover {
	background-color: transparent;
}

.unread-number {
	position: absolute;
	right: 10px;
	font-family: 'roboto bold';
	font-size: 10px;
}

.icons-only .unread-number {
	display: none;
}

.mail-file-filters {
	min-width: 15vw;
}

.icons-only.mail-file-filters {
	min-width: fit-content;
}
