.btn-compose {
	background-color: var(--clr-gmail-button);
	padding: 15px;
	border-radius: 10px;
	border: none;
	gap: 15px;
	font-size: 0.875rem;
	margin: 10px 10px;
}

.btn-compose:hover {
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.icons-only .btn-compose span {
	display: none;
}
