@media (max-width: 520px) {
	.main-layout {
		grid-template-columns: 1fr;
	}
	.main-layout > *:not(.full) {
		grid-column: 1/-1;
	}

	.app-header .btn-ham {
		display: flex;
		position: absolute;
		right: 20px;

		justify-content: center;
		align-self: center;

		width: 40px;
		height: 40px;
		font-size: 20px;
		border-radius: 20px;
		padding: 10px;
	
		/* background-color: var(--grey-clr-3); */
		border: none;
	}

	.app-header nav a {
		margin-inline-end: 0;
		margin-bottom: 0;
		padding: 5px;
		border-top: 1px solid #ebebeb;
		height: 10px;
	}

	.menu-open .main-menu > a:first-child {
		margin-inline-end: 0;
	}

	.main-menu > a {
		padding: 20px;
		width: 90%;
		border: none;
	}

	.menu-open .main-menu > a:hover {
		color: var(--blue-clr-2);
	}

	.main-menu {
		transform: translateX(-100%);
		display: none;
		position: absolute;

		left: 0;
		top: 10vh;

		flex-direction: column;
		align-items: center;

		height: calc(100% - 10vh);
		width: 70%;
		background-color: var(--clr-google-bg);
		border-radius: 10px;
	}

	.menu-open :is(hr, .screen) {
		display: block;
	}

	.menu-open .main-menu {
		transform: translateX(0);
		display: flex;

		transition: 1s transform;
		border-radius: 0;
		z-index: 2;
	}

	.menu-open .screen {
		position: absolute;
		inset: 0;
		top: 10vh;
		background-color: rgba(128, 128, 128, 0.39);
	}
}

@media (max-width: 650px) {
	/* mail-preview */
	.mail-preview {
		padding: 10px;
		grid-template-columns: 2fr 0.5fr;
	}
	.email-subject {
		grid-row: 2;
	}
	.email-from {
		grid-row: 1;
	}
	.mail-preview > * {
		padding: 0;
	}
	.btn-star {
		place-self: center;
	}
	.mail-preview > :is(.btn-star, .email-date) {
		grid-column: 2;
	}
	.mail-preview > :not(.btn-star, .email-date) {
		grid-column: 1;
	}
	.mail-preview:hover .preview-email-options {
		display: none;
	}
	/* filters */
	.mail-file-filters {
		min-width: none;
	}
	:is(.filter-file-name, .unread-number, .btn-compose > span) {
		display: none;
	}
	.active-filter .filter-icon {
		border-radius: 100%;
		background-color: var(--clr-active-filter);
	}
	.filter-icon:not(.active-filter *):hover {
		border-radius: 100%;
		background-color: var(--clr-gmail-hover);
	}
	.mail-filter .file-filter {
		width: fit-content;
		background-color: transparent;
		margin-inline-end: 0;
	}
	.mail-filter .file-filter:not(.active-filter):hover {
		background-color: transparent;
	}
	.mail-file-filters {
		min-width: fit-content;
	}
}
