@media (max-width: 520px) {
	.main-layout {
		grid-template-columns: 1fr;
	}
	.main-layout > *:not(.full) {
		grid-column: 1/-1;
	}
}

@media (max-width: 650px) {
	/* mail-preview */
	.mail-preview {
		padding: 10px;
		grid-template-columns: 2fr 0.5fr;
	}
	.email-subject {
		grid-row: 2;
	}
	.email-from {
		grid-row: 1;
	}
	.mail-preview > * {
		padding: 0;
	}
	.btn-star {
		place-self: center;
	}
	.mail-preview > :is(.btn-star, .email-date) {
		grid-column: 2;
	}
	.mail-preview > :not(.btn-star, .email-date) {
		grid-column: 1;
	}
	.mail-preview:hover .preview-email-options {
		display: none;
	}
	/* filters */
	.mail-file-filters {
		min-width: none;
	}
	:is(.filter-file-name, .unread-number, .btn-compose > span) {
		display: none;
	}
	.active-filter .filter-icon {
		border-radius: 100%;
		background-color: var(--clr-active-filter);
	}
	.filter-icon:not(.active-filter *):hover {
		border-radius: 100%;
		background-color: var(--clr-gmail-hover);
	}
	.mail-filter .file-filter {
		width: fit-content;
		background-color: transparent;
		margin-inline-end: 0;
	}
	.mail-filter .file-filter:not(.active-filter):hover {
		background-color: transparent;
	}
	.mail-file-filters {
		min-width: fit-content;
	}
}
