* {
	box-sizing: border-box;
	user-select: none;
}

html {
}

body {
	margin: 0;
	padding: 0;
	color: var(--clr-google-font);
	font-family: 'roboto', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1em;
	font-family: 'roboto bold', 'sans-serif';
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: unset;
}

button,
input {
	font-family: inherit;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
	max-width: 100%;
}

/* tap targets: */
nav a {
	min-width: 48px;
	min-height: 48px;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
	outline: 1px solid gold;
}


